{% extends 'base_detail.html' %}
{% load blog_tags %}
{% load crispy_forms_tags %}

{% block title %}
    <title>{{ post.title }} / Александр Хома</title>
    <meta name="description" content="{{ post.body|truncatewords:10 }}">
    <meta name="keywords" content="">
{% endblock %}

{% block meta %}
    <link rel="canonical" href="http://kowvrettv.pythonanywhere.com{{ post.get_absolute_url }}">

    <!-- Facebook meta -->
    <meta property="og:url" content="http://kowvrettv.pythonanywhere.com{{ post.get_absolute_url }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.body|truncatewords:10 }}">
    <meta property="og:image" content="http://kowvrettv.pythonanywhere.com/media/{{ post.image }}">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@alexander_khoma">
    <meta name="twitter:creator" content="@alexander_khoma">
    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:description" content="{{ post.body|truncatewords:10 }}">
    <meta name="twitter:image" content="http://kowvrettv.pythonanywhere.com/media/{{ post.image }}">
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>
        <i class="published_by">{{ post.publish }}</i>
    </p>
    <img src="/media/{{ post.image }}" class="img-fluid" alt="{{ post.title }}">
    {{ post.body|markdown }}

    <!-- Список последних публикаций -->
    <p>
        <h3>Последние публикации:</h3>
        {% show_latest_posts 3 %}
    </p>

    <!-- Сколько комментариев у публикации-->
    {% with comments.count as total_comments %}
        <h3>
            Комментарии: {{ total_comments }}
        </h3>
    {% endwith %}
    
    <!-- Отображение комментариев -->
    {% for comment in comments %}
        <div>
            <p>
                {{ forloop.counter }} комментарий от {{ comment.name }} <!-- Счетчик цикла в каждой итерации-->
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
    <p>Комментариев нет.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Ваш комментарий опубликован.</h2>
    {% else %}
        <!-- Форма для нового комментария -->
        <h2>Добавить комментарий</h2> 
        <form action="." method="post">
            <div class="row">
                <div class="col-6">
                    {{ comment_form.name|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ comment_form.email|as_crispy_field }}
                </div>
            </div>
            {{ comment_form.body|as_crispy_field }}
            {% csrf_token %}
            <p><button type="submit" class="btn btn-primary">Отправить</button></p> 
        </form>
    {% endif %}
{% endblock %}