{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}
    <title>Личный блог / Александр Хома</title> 
    <meta name="description" content="Личный блог / Александр Хома / Junior Python Разработчик">
    <meta name="keywords" content="">
{% endblock %}

{% block content %}
    <h5 class='total_posts'>Всего публикаций: {% total_posts %}</h5>
    <p><a href="{% url 'blog:post_feed' %}">Подписаться на рассылку RSS</a></p>
    {% for post in posts %}
        <h1>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h1>
        <p>
            <i class="published_by">{{ post.publish }}</i>
        </p>
        <img src="/media/{{ post.image }}" class="img-fluid" alt="{{ post.title }}">
        {{ post.body|markdown|truncatewords_html:30 }}
        
        <p>
            <a class="btn btn-sm btn-outline-dark" href="{{ post.get_absolute_url }}">
                Читать дальше
            </a>
        </p>
    {% endfor %}
    {% include 'blog/pagination.html' with page=page_obj %}
    <br>
    <h3>Самые комментируемые публикации:</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul class="posts_list">
        {% for post in most_commented_posts %}
        <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}