.container {
    max-width: 1000px;
}

h1, 
h2, 
h3 {
    font-weight: bold;
}

.img-fluid {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 > a {
    color: #424242;
}

h1 > a:hover {
    color: #78909C;
}

a, 
a:active {
    color: #f44336;
    text-decoration: none;
}

a:hover, 
a:focus {
    color: #FF8A65;
    text-decoration: none;
    transition-duration: 0.3s;
}

.btn:hover,
.btn:focus {
    transition-duration: 0.3s;
}
.profile li {
    float: left;
    margin-right: 8px;
}

.profile {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile a,
.navbar-brand {
    text-decoration: none;
    background-image: none;
}

.fa-circle {
    color: #f44336;
}

.total_posts {
    color: #BDBDBD;
}

.published_by {
    color: #757575;
}

.posts_list {
    list-style-type: none;
    padding-left: 0;
}

.rounded-circle {
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:100px;
    max-width: 200px;
    height: auto;
}

.form-control-sm {
    background-color: #40474E;
    border-radius: 2px;
    border-style: none;
}

.form-control-sm::placeholder,
.form-inline > input {
    color: rgba(255, 255, 255, 0.5)
}

